body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/creampaper.png");
	font-family: 'Work Sans', sans-serif;
	color: #ff4040;
}

.index-intro
{
	width: 100%;
	background-image: url("img/creampaper.png");
}

.index-intro .jumbotron
{
	padding: 100px 60px;
	margin: 0px;
	background-image: url('img/Save-Money.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-family: 'Knewave', cursive;
}

.index-intro .jumbotron	h1
{
	font-size: 50px;
	color: #FF4040;
}

.main-container
{
	padding-top: 45px;
}

.index-form
{
	width: 100%;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	background-color: #ececec;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.index-form input[type=text]:focus,
.index-form input[type=password]:focus
{
	border: 2px solid #FF4040;
	background-color: #f2ebe8;
	color: #FF4040;
}

.index-form button[name=logIn]
{
	background-color: #FF4040;
	color: #fff;
}

.index-form button[name=logIn]:hover
{
	background-color: #ee3030;
	color: #000;
}

.index-form button[name=logIn]:focus
{
	background-color: #dd2020;
}

.index-form a
{
	color: #FF4040;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
}

.index-form a:hover
{
	color: #dd2020;
}

.registration-form
{
	width: 100%;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 5px;
	background-color: #ececec;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.registration-form input[type=text]:focus,
.registration-form input[type=password]:focus,
.registration-form input[type=email]:focus
{
	border: 2px solid #FF4040;
	background-color: #f2ebe8;
	color: #FF4040;
}

.registration-form button[name=register],
.registration-form button[name=cancel]
{
	background-color: #FF4040;
	color: #fff;
}

.registration-form button[name=register]:hover,
.registration-form button[name=cancel]:hover
{
	background-color: #ee3030;
	color: #000;
}

.registration-form button[name=register]:focus,
.registration-form button[name=cancel]:focus
{
	background-color: #dd2020;
}

.mainMenu-navigation #dateToday
{
	color: #fff;
	cursor: default;
	pointer-events: none;
}

.mainMenu-navigation .navbar-default
{
	background-color: #FF4040;
}

.mainMenu-navigation .navbar-default .navbar-brand
{
	color: #fff;
}

.mainMenu-navigation .navbar-default .navbar-brand:focus,
.mainMenu-navigation .navbar-default .navbar-brand:hover
{
	color: #000;
}

.mainMenu-navigation .navbar-default .navbar-nav > li > a 
{
  color: #fff;
}
.mainMenu-navigation .navbar-default .navbar-nav > li > a:hover,
.mainMenu-navigation .navbar-default .navbar-nav > li > a:focus 
{
  color: #000;
}

.mainMenu-navigation .navbar-default .navbar-nav > .active > a,
.mainMenu-navigation .navbar-default .navbar-nav > .active > a:hover,
.mainMenu-navigation .navbar-default .navbar-nav > .active > a:focus 
{
	background-color: #dd2020;
	cursor: default;
	pointer-events: none;
}

.mainMenu-navigation .navbar-default .navbar-toggle {
	border-color: #000;
	background-color: #FF4040;
}

.mainMenu-navigation .navbar-default .navbar-toggle:hover,
.mainMenu-navigation .navbar-default .navbar-toggle:focus {
	background-color: #ee3030;
}

.mainMenu-navigation .navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.mainMenu-navigation .dropdown-menu
{
	background-color: #ee3030;
}

.mainMenu-navigation .dropdown-menu > li > a:hover,
.mainMenu-navigation .dropdown-menu > li > a:focus 
{
	color: #000;
	background-color: #dd2020;
}

.mainMenu-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a
{
	color: #fff;
}

.mainMenu-navigation .navbar-default .navbar-nav > .open > a, 
.mainMenu-navigation .navbar-default .navbar-nav > .open > a:hover, 
.mainMenu-navigation .navbar-default .navbar-nav > .open > a:focus
{
	background-color: #ee3030;
}

.mainMenu-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.mainMenu-navigation .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
{
	color: #000;
}

.lastExpensesRevenue
{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 45px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	background-color: #ececec;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.lastEntryHeader
{
	width: 100%;
	text-align: center;
	color: #ff4040;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 15px;
}

.expense,
.revenue
{
	width: 100%;
	border-bottom: 1px dashed #ff4040;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainMenu-navigation .dropdown-menu>.active>a, 
.mainMenu-navigation .dropdown-menu>.active>a:focus, 
.mainMenu-navigation .dropdown-menu>.active>a:hover
{
	background-color: #dd2020;
	cursor: default;
	pointer-events: none;
}

.mainMenu-navigation .navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
.mainMenu-navigation .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, 
.mainMenu-navigation .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover
{
	background-color: #dd2020;
}

.addExpense,
.addRevenue,
.balanceSheet
{
	width: 100%;
	padding-top: 35px;
	padding-bottom: 45px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 5px;
	background-color: #ececec;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.addExpense input[type=number]:focus,
.addExpense input[type=date]:focus,
.addExpense textarea:focus,
.addRevenue input[type=number]:focus,
.addRevenue input[type=date]:focus,
.addRevenue textarea:focus
{
	border: 2px solid #FF4040;
	background-color: #f2ebe8;
	color: #FF4040;
}

.addExpense button[name=addExpenseButton],
.addExpense button[name=cancelExpenseButton],
.addRevenue button[name=addRevenueButton],
.addRevenue button[name=cancelRevenueButton]
{
	background-color: #FF4040;
	color: #fff;
}

.addExpense button[name=addExpenseButton]:hover,
.addExpense button[name=cancelExpenseButton]:hover,
.addRevenue button[name=addRevenueButton]:hover,
.addRevenue button[name=cancelRevenueButton]:hover
{
	background-color: #ee3030;
	color: #000;
}

.addExpense button[name=addExpenseButton]:focus,
.addExpense button[name=cancelExpenseButton]:focus,
.addRevenue button[name=addRevenueButton]:focus,
.addRevenue button[name=cancelRevenueButton]:focus
{
	background-color: #dd2020;
}

.addRevenue .addRevenueHeader,
.addExpense .addExpenseHeader,
.balanceSheet .balanceSheetHeader
{
	width: 100%;
	text-align: center;
	color: #ff4040;
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 15px;
}

.balanceSheet select
{
	border: 2px solid #FF4040;
	background-color: #f2ebe8;
	color: #FF4040;
}

.balanceSheet .revenueHeader,
.balanceSheet .expensesHeader
{
	width: 100%;
	text-align: center;
	color: #ff4040;
	font-weight: 700;
	padding-bottom: 15px;
}

.balanceSheet .sum
{
	border-top: 2px solid #ff4040;
}

.balanceSheet #chart
{
	text-align: center;
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.balanceSheet #piechart
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.balanceSheet .alert
{
	text-align: center;
}